rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /messages/{conversationId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.resource.size < 50 * 1024 * 1024;
    }
  }
}
